*{
      margin: 0;
      padding: 0;
      font-family: 'Poppins', sans-serif;
      box-sizing: border-box;
 }
 body{
      background: #000;
      color: #fff;
 }



       /* HEADER SECTION */
.header{
    width: 100%;
    height: 100vh;
     background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("images/header-image.jpg.png");
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
     }


      /* NAVBAR STYLES */
    nav{
         display: flex;
         align-items:center;        
         justify-content: space-between;
         padding:10px 0;
     }


     /* LOGO STYLES */
     .logo{
           width: 220px;
      }


      /* NAVIGATION BUTTONS */
     nav button{
          background: #db0001;
          border: none;
          padding: 7px 20px;
          color: #fff;
          font-size: 20px;
          border-radius: 4px;
          cursor: pointer;
          margin-left: 10px;
      }


      /* LANGUAGE BUTTONS */
      .language-btn{ 
          position: relative;
          left: 650px;
          font-size: 25px;
          display: inline-flex;
          align-items: center;
          background: transparent;
          border: 1px solid #fff;
          padding: 7px 10px;
      }
      .language-btn2{ 
          position: relative; 
          left: 665px;
          font-size: 25px;
          display: inline-flex;
          align-items: center;
          background: #db0001;
          border: none;
          padding: 7px 20px;
          color: #fff;
          border-radius: 4px;
          cursor: pointer;
          margin-left: 10px;
          }
          .language-btn img{
               margin-left: 10px;
               width: 10px;
          }


          /* HEADER CONTENT STYLES */
          .header-content{
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
               text-align: center;
               margin-top: 100px;
          }
          .header-content h1{
               font-size: 60px;
               margin-bottom: 20px;
               line-height: 70px;
               font-weight: 600;
               max-width: 650px;
          }
          .header-content h3{
               font-size: 25px;
               margin-bottom: 20px;
               font-weight: 400;
          }
          .header-content p{
               font-size: 20px;
               margin-bottom: 20px;
          }



          /* EMAIL SIGNUP FORM STYLES */
          .email-signup{
               margin-top: 30px;
               background: #fff;
               display: flex;
               align-items: center;
               border-radius: 4px;
               overflow: hidden;
          }
          .email-signup input{
               flex: 1;
               border: none;
               margin-left: 20px;
               outline: none;
          }
          .email-signup button{
               background: #e50914;
               color: #fff;
               border: none;
               padding: 15px 30px;
               font-size: 16px;
               cursor: pointer;
          }



          /* FEATURES SECTION */
         .features{
               padding: 50px 12%;
               font-size: 22px;
          }
          .row{
               display: flex;
               align-items: center;
               flex-wrap: wrap;
               width: 100%;
               padding: 50px 0;
          }


          /* COLUMNS */
          .text-col{
               flex-basis: 50%;
               margin-bottom: 40px;
               text-align: center;
          }
     .img-col
          {
               flex-basis: 50%;
               margin-bottom: 20px;
          }
          .img-col img{
               display: block;
               width: 100%;
               margin: auto;
          }


          /* HEADINGS */
          .features h2{
               font-size: 50px;
               margin-bottom: 20px;
               font-weight: 600;
          }
          nav button:hover{
               background: #f40612;
          }
          


   /* FAQ SECTION STYLES */
body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.faq-section { 
    padding: 70px 5%;
    border-top: 8px solid #222;
    text-align: center;
}

.faq-section h1 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.container { 
    max-width: 815px; 
    margin: 0 auto;  
}

.faq-list {
    padding: 0;
}

.faq-item {
    margin-bottom: 10px;
    background-color: #303030;
    text-align: left;
}

.faq-item input {
    display: none;
}

.faq-item label {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 24px 30px;
    font-size: 1.5rem; 
    cursor: pointer;
    position: relative; 
    transition: background-color 0.2s;
}

.faq-item label:hover {
    background-color: #404040;
}


.faq-item label::after {
    content: '+'; /* The actual plus symbol */
    font-size: 3rem;
    line-height: 1;
    transition: transform 0.3s ease; 
}

.faq-answer {
    max-height: 0; 
    overflow: hidden;
    padding: 0 30px; 
    transition: max-height 0.3s cubic-bezier(0.5, 0, 0.1, 1), padding 0.3s ease; 
    text-align: left;
}

.faq-answer p {
    margin: 1em 0; 
    font-size: 1.1rem;
    line-height: 1.5;
} 
.faq-item input:checked ~ label::after { 
    transform: rotate(45deg);
}

.faq-item input:checked ~ .faq-answer {

    max-height: 600px; 
    padding: 24px,30px;
}



/* EMAIL SIGNUP FORM IN FAQ SECTION */
.faq .email-signup{
     margin: 20px auto 60px auto;
     max-width: 600px;
     margin-top: 30px;
     background: #fff;
     display: flex;
     align-items: center;
     border-radius: 4px;
     overflow: hidden;
     height: 60px;
}

  .faq small{
       font-size: 14px;
  }
     

/* FOOTER STYLES */
  .fotter{
       background: #000;
       color: #777;
       padding: 50px 15% 10px;
       border-top: 6px solid #333;
  }
     .fotter p{
          margin-bottom: 30px;
          font-size: 18px;
          font-weight: 400;
     }
     .fotter .columns{
          display: flex;
          flex-basis: 25%;
          flex-grow: 1;
          margin-bottom: 20px;
     }
     .fotter .columns a{
          display: block;
          color: #777;
          text-decoration: none;
          margin-bottom: 10px;
          font-size: 16px;
     }
     
    .site-footer {
    padding: 70px 45px 50px; 
    background: #000; 
    color: #757575; 
}

.footer-container {
    max-width: 1000px;
    margin: 0 auto;
}


.footer-links {
   
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 15px 100px; 
    list-style: none;
    padding: 0;
    margin: 30px 0 20px;
}

.footer-links a {
    color: #757575;
    text-decoration: none;
    font-size: 13px; 
    margin-bottom: 0; 
}

.footer-links a:hover {
    text-decoration: underline;
}

.language-selector-wrapper {
    margin: 20px 0;
}

.language-btn {
  
    padding: 8px 25px 8px 14px;
    border: 1px solid #757575; 
    border-radius: 2px;
    height: 40px; 
   
    color: #757575;
    font-size: 16px;
    cursor: pointer;

   
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}

.language-btn img{
               margin-left: 10px;
               width: 10px;
          }

.footer-country {
    font-size: 13px;
    color: #757575;
    margin-top:24px;
}
